<html>
<head>
<title>about</title>
 <meta charset="UTF-8">
	{% load static %}
	
	<link rel="stylesheet" href="{% static 'css/about.css'%}">
<link rel="stylesheet" href="{% static 'css/project2.css'%}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

</head>
<body>
{% include 'menu.html' %}
	   
	   <!----------about us----------------->
  <section id="about">
    <div class="container">
	    <div class="row">
		   <div class="col-md-6 text-center">
		   <img src="{% static 'image/computer.jpeg' %}" class="img-fluid">
		   </div>
		   <div class="col-md-6 text-justify">
              <h3>traning couses</h3>
               <p>we are provided winter and samer traning camp.in which python language(software and web designing and development)
		,html,css,php,mysql(with python and php),dca and spoken couse ,pd class also etc</p>	 				 
		   </div>
		    <div class="col-md-6 text-justify">
              <h3>our office and company works</h3>
               <p>our company is multiperforming company as software development,web designing,web development,education field,consoluent work(bulding construction),propery deling
			   (house sale,land saleing)and home product saling(washing powder,agerbati,sampul,cleaner) etc; </p>	
             <p> you are interested to join us so please visit our place !thank you </p>	 				 
		   </div>
		    <div class="col-md-6 text-center">
		   <img src="{% static 'image/ofice.png' %}" class="img-fluid">
		   </div>
		</div>
	</div>
  </section>
	     <!---------------services-------------------->
  <section id="services">
    <div class="container">
         <h2>OUR TEAM</h2>
	  <div class="row">
	    <div class="col-md-4">
		  <div class="container">
	     <div class="mainbox">
		     <div class="flipbox">
			   <div class="front">
			       OWNER OF COMPANY
				   <img src="{% static 'image/f1.jpg' %}">
			   </div>
			   <div class="back">
			       <h3>about owner</h3>
				   <p>this company is started by ER.rb maruya<br>that is the directer of this company,
				   contect no-7652972973,
				   he is heighly knowledgeable in this fiels<br>
				   as-software development,web development,web designing
				   he hava a batchler degree in computer science and engineering</p>
			   </div>
			 </div>
		 </div>
	  </div>
		</div>
		
		 <div class="col-md-4">
		  <div class="container">
	     <div class="mainbox">
		     <div class="flipbox">
			   <div class="front">
			       STAFF OF COMPANY
				   <img src="{% static 'image/owner.png' %}">
			   </div>
			   <div class="back">
			       <h3>about staff</h3>
				   <p>that is the bussiness developer  of this company,
				   contect no-8756325880,he is heighly knowledge in bussiness felds and  sales and services felds </p>
			   </div>
			 </div>
		 </div>
	  </div>
		</div>
		  
		  
		 <div class="col-md-4">
		  <div class="container">
	     <div class="mainbox">
		     <div class="flipbox">
			   <div class="front">
			       STAFF OF COMPANY
				   <img src="{% static 'image/f.jpg' %}">
			   </div>
			   <div class="back">
			       <h3>about staff</h3>
				   <p>our staff is heighly experienced . </p>
				   <p>he is heighly knowledgeable in this fiels<br>
				   as-,software development,web development,web designing</p>
			   </div>
			 </div>
		 </div>
	  </div>
		</div>
	   <div>
	</div>
  </section>
  
  <!----------------------fetures------------------------->
  <section id="features">
    <div class="container">
	 <div class="row">
	   <div class="col-md-6">
	      <img src="{% static 'image/p1.jpg' %}" class="img-fluid">
	   </div>
	   <div class="col-md-6">
	    <div class="feature-box">
		<div class="feature-left">
		<i class="fa fa-trophy"></i>
		</div>
		<div class="feature-right">
		<h4>certainfied trainer</h4>
		<p>our office is best because wheres employe ,he is hardworker and very heigh skiled and very tailented person 
                 in his works .so you are interested to join us </p>
		</div>
		</div>
		<div class="feature-box">
		<div class="feature-left">
		<i class="fa fa-heartbeat"></i>
		</div>
		<div class="feature-right">
		<h4>free consoluent</h4>
		<p>our office is best because wheres employe ,he is hardworker and very heigh skiled and very tailented person 
                 in his works .so you are interested to join us </p>
		</div>
		</div>
		<div class="feature-box">
		<div class="feature-left">
		<i class="fa fa-clock-o"></i>
		</div>
		<div class="feature-right">
		<h4>flexible time</h4>
		<p>our office is best because wheres employe ,he is hardworker and very heigh skiled and very tailented person 
                 in his works .so you are interested to join us </p>
		</div>
		</div>
	   
	   </div>
	 <div>
	</div>
  </section>
  </body>
  </html>