<html>
<head>
<title>course</title>
<meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
<link rel="stylesheet" href="{% static 'css/student_index.css' %}">
	
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

</head>
<body>
<div class="company_name">
   <div class="logos">
   <h2><img src="{% static 'image/rblogo2.png' %}"></h2>
   </div>
   <div class="names">
     <h2> RB GROUP OF INFOTECH Private Limited<h2>
    </div>
</div>
<!--marquee-->
  </div>
	   <div class="marquee1">
	      <marquee direction="left" height="30px" width="100%">
	     <h4>speaking couse free FOR dca,adca student&nbsp &nbsp &nbsp &nbsp new batch start as-python,php,html &nbsp &nbsp &nbsp &nbsp &nbsp mobile no-7651972737 &nbsp &nbsp whatsapp-8546057014 &nbsp &nbsp email-rbmaurya606@gmail.com &nbsp &nbsp address-bhaisoni sarnath varanasi&nbsp &nbsp &nbsp &nbsp PD CLASS FREE ON PROGRAMING LANGUAGE(PYTHON COURSE) &nbsp &nbsp &nbsp &nbsp &nbsp techer required (mysql) &nbsp &nbsp &nbsp &nbsp new batch stated soon as-ADCA, DCA,MYSQL,WEB DESIGNING </h4>
		 </marquee>
	   </div>
<!-- ----------navebar-------------------->
	<!---------------- student page navbar----------------->
<nav class="navbar navbar-expand-lg navbar-inverse ml-0 pl-0 pr-0 mr-0 ">

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
<div class="collapse navbar-collapse" id="navbarNav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WELCOME TO RB GROUP</a>
    </div>
    <ul class="nav_u">
      <li class="active"><a href="{%url 'home:homepage' %}">Home</a></li>
	  <li class="active"><a href="{%url 'student:studentpage' %}">student page</a></li>
      <li><a href="{%url 'student:logout' %}">logout</a></li>
    </ul>
  </div>
  </div>
</nav>
<!---------------------MAIN SECTION STATED------------->
  <section id="course">
    <div class="container">
	    <div class="row">
		   <div class="col-md-6 text-center">
		   <img src="{% static 'image/python.jpg' %}" class="img-fluid">
		   </div>
		   <div class="col-md-6 text-justify">
              <h3>PYTHON</h3>
               <p>python is very power full language which is used in multilevel works.
			   <br>python traning as-<br>web development(django)<br>software development(tkinter)<br>python + mysql</p>
-------------------------------------------------------------------------			   
		   </div>
		    <div class="col-md-6 text-justify">
              <h3>HTML</h3>
               <p>html used for createing a web page  in web designing.in a web field html play very important role<br>
			   as web can say without html web part is not compleated   </p>
		   
         </div>
		    <div class="col-md-6 text-center">
		   <img src="{% static 'image/html.jpg' %}" class="img-fluid">
		   <br><br>---------------------------------------------------------------------------
		   </div>
		   
		    <div class="col-md-6 text-center">
		   <img src="{% static 'image/php.jpg' %}" class="img-fluid">
		   </div>
		   <div class="col-md-6 text-justify">
              <h3>PHP</h3>
               <p>php is also very power full language which is used in web development.
			   <br>php traning as-<br>web development<br>php + mysql</p>	 				 
------------------------------------------------------------------		  
		  </div>
		    <div class="col-md-6 text-justify">
              <h3>C LANGUAGE</h3>
               <p>c language is a programing language.it is also known as mother language .it is very very power full language.   </p>	
         
		 </div>
		    <div class="col-md-6 text-center">
		   <img src="{% static 'image/c.jpg' %}" class="img-fluid">
		   <br><br>----------------------------------------------------------------
		   </div>
		   
		   <div class="col-md-6 text-center">
		   <img src="{% static 'image/mysql.jpg' %}" class="img-fluid">
		   </div>
		   <div class="col-md-6 text-justify">
              <h3>MYSQL</h3>
               <p>mysql is used as in web and software field both .mysql is used for database conectivite and storage</p>	 				 
------------------------------------------------------------------		  
		  </div>
		    <div class="col-md-6 text-justify">
              <h3>CSS</h3>
               <p>in a css we learn how to designe and styleing our web page for attractive looks and styles page</p>	
         
		 </div>
		    <div class="col-md-6 text-center">
		   <img src="{% static 'image/css.jpg' %}" class="img-fluid">
		   <br><br>----------------------------------------------------------------
		   </div>
		   
		   <div class="col-md-6 text-center">
		   <img src="{% static 'image/dca.jpg' %}" class="img-fluid">
		   </div>
		   <div class="col-md-6 text-justify">
              <h3>dca</h3>
               <p>in dca course we learn all computer knowledge as msword ,msexcal,powerpoint,taily,etc</p>	 				 
------------------------------------------------------------------		  
		  </div>
		   
		</div>
	</div>
  </section>
  
  