<html>
<head>
<title>www.rbinfotech private limited</title>
 <meta charset="UTF-8">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/project2.css'%}">
	<link rel="stylesheet" href="{% static 'css/student_index.css' %}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

<!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="css/swiper.min.css">
  
</head>
	<body bgcolor="slyblue"><center>

<div class="company_name">
   <div class="logos">
   <h2><img src="{% static 'image/rblogo2.png' %}"></h2>
   </div>
   <div class="names">
     <h2> RB GROUP OF INFOTECH Private Limited<h2>
    </div>
</div>
<!--marquee-->
	   <div class="marquee1">
	      <marquee direction="left" height="30px" width="100%">
	     <h4>speaking couse free FOR dca,adca student&nbsp &nbsp &nbsp &nbsp new batch start as-python,php,html &nbsp &nbsp &nbsp &nbsp &nbsp mobile no-7651972737 &nbsp &nbsp whatsapp-8546057014 &nbsp &nbsp email-rbmaurya606@gmail.com &nbsp &nbsp address-bhaisoni sarnath varanasi&nbsp &nbsp &nbsp &nbsp PD CLASS FREE ON PROGRAMING LANGUAGE(PYTHON COURSE) &nbsp &nbsp &nbsp &nbsp &nbsp techer required (mysql) &nbsp &nbsp &nbsp &nbsp new batch stated soon as-ADCA, DCA,MYSQL,WEB DESIGNING </h4>
		 </marquee>
	   </div>
	<!---------------- student page navbar----------------->
<nav class="navbar navbar-expand-lg navbar-inverse ml-0 pl-0 pr-0 mr-0 ">

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
<div class="collapse navbar-collapse" id="navbarNav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WELCOME TO RB GROUP</a>
    </div>
    <ul class="nav_u">
      <li class="active"><a href="{%url 'home:homepage' %}">Home</a></li>
	  <li><a href="{%url 'employee:logout' %}">admin page</a></li>
	  <li><a href="{%url 'home:enquarifetch' %}">enquari_login</a></li>
      <li><a href="{%url 'employee:logout' %}">logout</a></li>
    </ul>
  </div>
  </div>
</nav>

	<table border=1 cellpadding=1 cellspacing=1 width=80%>
		<tr>
			<th>course</th>
			<th>name</th>
			<th>address</th>
			<th>mobile</th>
			<th>email</th>
		</tr>
		{% for x in enquarilist %}
		<tr>
			<td>{{x.course}}</td>
			<td>{{x.name}}</td>
			<td>{{x.address}}</td>
			<td>{{x.mobile}}</td>
			<td>{{x.email}}</td>
		</tr>
		{% endfor %}
	</table>
	</body>
</html>
			