<html>
<head>
<title>www.rbinfotech private limited</title>
 <meta charset="UTF-8">
	{% load static %}
	
	<link rel="stylesheet" href="{% static 'css/about.css'%}">
	

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

<!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="css/swiper.min.css">
  
</head>
<body>
<!-----------------footer section------------------>
  <section id="footer">
  <div class="container">
      <div class="row">
	     <div class="col-md-3">
		   <img src="{% static 'image/rblogo2.png' %}" class="footer-logo">
		   <p>our office is best because wheres employe ,he is hardworker and very heigh skiled and very tailented person 
                 in his works .so you are interested to join us </p>	 
		 </div>
		 <div class="col-md-3">
		   <h1>features</h1>
                <p>certified</p>
				<p>free consulation</p>
				<p>flexible time</p>
				<p>3 day free trail</p>			  
		 </div>
		 <div class="col-md-3">
		   <h1>quick contact</h1>
                <p><i class="fa fa-phone-square"></i>+91 7651972973<br>whatsapp:8546057014</p>
				<p><i class="fa fa-google"></i><a href="https://www.google.com/maps/place/Bhisori,+Uttar+Pradesh/@25.4010346,83.0147727,16z/data=!3m1!4b1!4m5!3m4!1s0x398e2ecb69d730db:0xf628149987d106c1!8m2!3d25.401024!4d83.018682">address:bhaisoni sarnath varanasi</a></p>
				<p><i class="fa fa-envelope"></i>email:rbmaurya606@gmail.com</p>
				<p><i class="fa fa-home"></i>post:sarnath,city:varanasi,country:india</p>	
                <p><i class="fa fa-home"></i>pincode:221007,state:u.p</p>				
		 </div>
		 <div class="col-md-3">
		   <h1>follow us on</h1>
                <p><i class="fa fa-facebook-official"></i><a href="https://www.facebook.com/pradeepmaurya.pradeep.73">pradeep maurya</a></p>
				<p><i class="fa fa-youtube-play"></i><a href="https://www.youtube.com/channel/UCShckjv0Y68ImU0Wk24lBpQ">coding provider channel</a></p>
				<p><i class="fa fa-linkedin"></i><a href="https://rbsolution.yolasite.com/">rbsolution.com</a></p>
				<p><i class="fa fa-twitter"></i>twitter</p>		  
		 </div>
	  </div>
	   <hr>
	    <p class="copyright">made with<i class="fa fa-heart-0"></i>
		by rb solution private limeted</p>
  </div>
  </section>
  </body>
  </html>