*
{
  padding:0;
  margin:0;
 }
 .company_name{
	 height:19%;
	 width:100%;
	 background-color:skyblue;
 }
 .company_name .logos{
	 width:8%;
	 padding-left:15px;
	 display:inline-block;
 }
 .company_name .logos img{
	 width:130px;
	 height:130px;
 }
 .company_name .names{
	 float:right;
	 text-align:center;
	 justify-content:center;
	 color:white;
	 text-shadow:1px 2px 3px red;
	 width:88%;
	 padding-top:30px;
 }
  .company_name .names h2{
	  font-size:45px;
	  font-weight:bold;
  }
	  .marquee1{
	 color:blue;
	 background-color:skyblue;
 }
 
 .registratin_form{
	 background-color:#fff;
 }
 .registratin_form table{
	 justify-content:center;
	 text-align:center;
	 font-weight:bold;
	 font-size:25px;
	 width:70%;
	 height:30%;
	 border:2px solid black;
	 color:blue;
	 margin-top:30px;
	 padding-top:30px;
	 line-height:35px;
	 background-color:skyblue;
	 
 }
 .registratin_form .btn{
	 background-color:blue;
	 border:1px solid blue;
	 border-radius:10px;
	 width:120px;
	 height:40px;
	 color:white;
	 font-weight:bold;
	 font-size:25px;
	 text-align:center;
	 
	 padding-bottom:40px;
	 
 }
 .registratin_form .btn:hover {
	 background-color:green;
	 color:red;
 }