*
{
  padding:0;
  margin:0;
 }
 .company_name{
	 height:19%;
	 width:100%;
	 background-color:skyblue;
 }
 .company_name .logos{
	 width:8%;
	 padding-left:15px;
	 display:inline-block;
 }
 .company_name .logos img{
	 width:130px;
	 height:130px;
 }
 .company_name .names{
	 float:right;
	 text-align:center;
	 justify-content:center;
	 color:white;
	 text-shadow:1px 2px 3px red;
	 width:88%;
	 padding-top:30px;
 }
  .company_name .names h2{
	  font-size:45px;
	  font-weight:bold;
  }
	  .marquee1{
	 color:blue;
	 background-color:skyblue;
 }
 /*----------nav bar-----------*/
 
 .navbar-brand{
	 color:yellow;
	 font-weight:bold;
     margin-left:33px;
	 padding-left:33px;
 }
 .container-fluid{
     background-color:black;
	 
 }
.container-fluid.nav_u{
	list-style:none;
	
}
.nav_u li{
	 list-style:none;
	 text-decoration:none;
	 float:left;
	 padding-right:60px;
	 margin-right:70px;
	 text-align:center;
	  padding-top:15px;
 }
 .nav_u li a{
	 color:#fff;
	 text-align:center; 
 }
 .nav_u li a:hover {
	 color:yellow;
	 background-color:green;
 }
 .dropdown-menu li a{
	 color:black;
 }
 /*------------main body part----------*/
 .main{
	 background-image:url(../image/ofice.png);
	 width:100%;
	 height:450px;
	 background-size:cover;
 background-position:center;
 }