<html>
<head>
     <meta charset="UTF-8">
	   {% load static %}
       <link rel="stylesheet" type="text/css" href="{% static 'cssfolder/secoundpage.css' %}">
</head>
<body><center>
<form action="../aupdateworkrolecheck/" method="POST">
{% csrf_token %}
<table>
     <tr>
	    <th colspan=2><h2><u><b>ADMIN ROLE UPDATE</b></u></h2></th>
	  </tr>
	  <tr>
	      <th colspan=2><h2>Welcome:{{adminsid}}</h2></th>
		  </tr>
		<tr>
	      <th>admin id:</th>
		  <th><input type="text" name="aid" required</th>
	   </tr>
	   <tr>
	      <th>role:</th>
		  <th><input type="text" name="arole" required</th>
	   </tr>
	   <tr>
		  <th colspan=2><input type="submit" name="submit" required</th>
	   </tr>
</table>
</form>
</body>
</html>