<html>
	<head>
	<title>employee registration  success</title>
	<meta charset="UTF-8">
	</head>
	<body bgcolor="skyblue"><center>
	<h1><b><u>employee registration details</u></b></h1></center>
	{% for x in emplolist %}
		<h3>employee id:  {{x.empid}}<br><br>
		password:  {{x.password}}<br><br>
		student workrole:  {{x.workrole}}<br><br>
		employee name:{{x.emp_name}}<br><br>
		father name:{{x.father_name}}<br><br>
		address:{{x.address}}<br><br>
		age:{{x.age}}<br><br>
		mobile number:{{x.mobile}}<br><br>
		heigher qualification:{{x.qualification}}<br><br>
		email id:{{x.email}}<br><br>
		</h3>
	{% endfor %}
	</body>
</html>